header#masthead
	#site-title
		h1
			a(href='#{ uri }') Don Pollack
	#banner
nav#main-navigation
	ul
		li
			a(href="#{ uri }painting" id="painting") Painting
		li
			a(href="#{ uri }museum" id="museum") Museum In Trust
		li
			a(href="#{ uri }crossing" id="crossing") Crossing The Great Divide
		li
			a(href="#{ uri }contact" id="contact") Contact
		li
			a(href="http://donpollack.blogspot.com/" id="blog") Blog
		li
			a(href="#{ uri }vita" id="vita") Vita
