.project
	figure.featured-image
		img(src="images/washington_project.png" width="100%")
	!= partial("texts/34-days-to-washington")
	a(href="#" class="project-link")
		h5= excerptlink
.project
	figure.featured-image
		img(src="images/far_project.jpg" width="100%")
	!= partial("texts/far-from-home")
	a(href="#" class="project-link")
		h5= excerptlink
.project
	figure.featured-image
	!= partial("texts/mysterious-island")
	a(href="#" class="project-link")
		h5= excerptlink
.project
	figure.featured-image
	!= partial("texts/mysterious-island")
	a(href="#" class="project-link")
		h5= excerptlink
.project
	figure.featured-image
	!= partial("texts/mysterious-island")
	a(href="#" class="project-link")
		h5= excerptlink
